{% extends 'base.html' %}

{% block breadcrumb %}
    {% include 'orders/snippets/breadcrumb.html' %}
{% endblock %}

{% block content %}
    <div class="col-8">
        <div class="h3">
            Confirma tú pedido
        </div>
        <div class="card">
            <dic class="card-body">
                <div class="row">

                    <div class="col-4">
                        <div class="font-weight-bold">
                            Dirección de envío
                        </div>
                        <div class="cart-text">
                            {{ shipping_address.city }}
                        </div>
                        <div class="cart-text">
                            {{ shipping_address.line1 }}
                        </div>
                        <div class="cart-text">
                            {{ shipping_address.line2 }}
                        </div>
                        <div class="card-text">
                            {{ shipping_address.reference }}
                        </div>
                        <div class="cart-text">
                            {{ shipping_address.postal_code }}
                        </div>

                    </div>

                    <div class="col-4">
                        <div class="font-weight-bold">
                            Método de pago
                        </div>
                        <div class="card-text">
                            Tarjeta terminacion 4242
                        </div>

                    </div>

                    <div class="col-4">
                        <div class="font-weight-bold">
                            Código promocional
                        </div>
                        <form id="promocode-form" action="{% url 'promo_codes:validate' %}">
                            <input type="text" name="code" value="{{ order.promo_code.code }}" class="form-control" placeholder="código promoción" {% if order.promo_code %} readonly {%endif%} >
                        </form>
                        <div class="text-success" id="promocode-success" style="font-size:14px">
                            {% if order.promo_code %}
                            Código aplicado exitosamente
                            {% endif %}

                        </div>

                    </div>

                </div>

            </dic>

        </div>

        <div class="mt-3">
            <div class="card">
                <div class="card">
                    <div class="card-body">
                        {% for product in cart.products.all %}
                            {% include 'orders/snippets/product.html' %}
                        {% endfor %}

                    </div>

                </div>

            </div>

        </div>

    </div>

    <div class="col">
        {% url 'orders:complete' as next_url %}
        {% include 'orders/snippets/resume.html' with next_utl=next_url %}
        <div class="mt-2">

            <a href="{% url 'orders:cancel' %}" class="btn btn-danger">Cancelar orden</a>
        </div>

    </div>
{% endblock %}

{% block javascript %}

    <script >
        const form = document.getElementById('promocode-form')
        form.addEventListener('submit',function(e){
            e.preventDefault()

            const input =this.code
            const code = input.value
            const url = this.action + "?code=" + code
            const div_total = document.getElementById('order-total')
            const div_success = document.getElementById('promocode-success')

            console.log(url)

            fetch(url)//trabajamos con promesas
                .then(response => response.json())//convertimos a json
                .then(response => {
                    console.log(response.total)

                    if(response.status === true){
                        div_total.innerHTML="$" + response.total
                        div_success.classList.remove('text-danger')
                        div_success.classList.add('text-success')
                        div_success.innerHTML='Código aplicado exitosamente'
                        input.readOnly = true

                    }else{
                        div_success.innerHTML='Código no valido'
                        div_success.classList.remove('text-success')
                        div_success.classList.add('text-danger')


                    }
                })

        })
    </script>

{% endblock %}